#body{
color:white;
background-image: linear-gradient(180deg, rgba(194, 53, 53, 0.288) 0%, rgba(10, 6, 0, 0.384) 100%), url("https://cdn2.softswiss.net/casinochan/b/booming/GladiatorArena.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
font-family: 'Playfair Display', serif;
overflow: hidden;
cursor: url('image/sword.png'), auto;


}

#title{
  max-width: 600px;
}

#board{
  color: black;
  padding: 20px;
  border-radius: 30px;
  background-image: url("https://media.istockphoto.com/photos/old-paper-texture-picture-id612833834?k=20&m=612833834&s=612x612&w=0&h=Bkc_DmyRRl8wNzgN2pv4DAmdoTb03r8DYOaLVm7ufQc=");
  -webkit-box-shadow: 0px 0px 15px -2px #000000; 
  box-shadow: 0px 0px 15px -2px #000000;
  border: 10px ridge rgb(100, 5, 5) ;
  max-width: 450px;
}

#event, #final{

  color: black;
  padding: 20px;
  border-radius: 30px;
  background-image: url("https://media.istockphoto.com/photos/old-paper-texture-picture-id612833834?k=20&m=612833834&s=612x612&w=0&h=Bkc_DmyRRl8wNzgN2pv4DAmdoTb03r8DYOaLVm7ufQc=");
  -webkit-box-shadow: 0px 0px 15px -2px #000000; 
  box-shadow: 0px 0px 15px -2px #000000;
  border: 10px ridge rgb(100, 5, 5) ;

}

#final{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:40;
  text-align: center;
}


i{
  color: rgb(100, 5, 5);
}

i:hover{
  color: rgb(58, 2, 2);
}


#title{
  display: block;
  width: 60vw;
  margin: auto;
}

#imgcharacter{
  display: block;
  margin: auto;
  width: 100%;
}

p, h3{
  font-weight: bold;
  color: rgb(100, 5, 5);
}

a{
  padding: 8px 15px!important;
  background-color: rgb(100, 5, 5)!important;
  color: #fff!important;
  font-weight: 800!important;
  border: none!important;
}

a:hover{
  padding: 8px 15px!important;
  background-color: rgb(58, 2, 2)!important;
  color: #fff!important;
  font-weight: 800!important;
  border: none!important;
}

span{
  color:black;
}

#mycharacter, .enemy, #impact1, #impact2, #impact3, #impact4, #upmana, #uplife{
  position:absolute;
  bottom:20px;
  max-height: 30vh;
}

#upmana, #uplife{
  left:50px;
}

#special1, #special2, #special3, #special4 {
  position:absolute;
  transform: rotate(90deg);
  height: 300px;
}

#enemy1{
  right: 0;
  z-index: 1;
  transform: scaleX(-1);
}

.attackeffect{
 display: none;
}

#impact1{
  right: -80px;
  z-index: 2;
}

#special1{
  top:300px;
  right: -300px;
  z-index: 2;
}


#enemy2{
  right: 200px;
  z-index: 3;
  transform: scaleX(-1);
}

#impact2{
  right: 100px;
  z-index: 4;
}

#special2{
  top:300px;
  right: -100px;
  z-index: 4;
}

#enemy3{
  right: 400px;
  z-index: 5;
  transform: scaleX(-1);
}

#impact3{
  right: 320px;
  z-index: 6;
}

#special3{
  top:300px;
  right: 120px;
  z-index: 6;
}

#enemy4{
  right: 600px;
  z-index: 7;
  transform: scaleX(-1);
}

#impact4{
  right: 520px;
  z-index: 8;
}

#special4{
  top:300px;
  right: 300px;
  z-index: 8;
}

#enemy1:hover, #enemy2:hover, #enemy3:hover, #enemy4:hover{
  border: 3px solid white;  
}


#enemyaction{
  text-align: center;
  position: absolute;
  bottom: -50vh;
  z-index:200;
  height: 50vh;
  min-width: 100vw;
  color: black;
  padding: 20px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  background-image: url("https://media.istockphoto.com/photos/old-paper-texture-picture-id612833834?k=20&m=612833834&s=612x612&w=0&h=Bkc_DmyRRl8wNzgN2pv4DAmdoTb03r8DYOaLVm7ufQc=");
  -webkit-box-shadow: 0px 0px 15px -2px #000000; 
  box-shadow: 0px 0px 15px -2px #000000;
  border: 10px ridge rgb(100, 5, 5) ;
  overflow-y: scroll;
  transition: 1s ease;
}

#darkscreen{
  position: absolute;
  z-index:199;
  bottom: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.596);
}

#victoryconfetti{
  background-image: url("https://c.tenor.com/pz0zpQXlK5sAAAAi/sparkle-confetti.gif");
  position: absolute;
  z-index:1;
  top: 0;
  width: 100vw;
  height: 100vh;
}

